 
<h1>Yo antes de ti</h1>

<h2>Historia</h2>
<section>La pelicula se trata de una chica alegre que va de un trabajo a otro solo para ayudar
   economica y por cuestiones de la vida consige un trabajo como cuidadora de un millonario
   quien al principio la la quiere cerca pero con el pasar del tiempo le va tiene un aprecio 
   y se enamoran pero el al final prefiere morir y dejarla sola </section>

<h2>Motivos porque me gusta</h2>
<section>porque es bonita e interesante</section>

<h2>Personajes</h2>
<section>Louisa Clark</section>
<section>William Trayno</section>

<h2>Pelicula Similar</h2>
<section>Bajo la misma estrella</section>


